RemoteSystemsTempFiles/
Teste/
VPL3/
SGI/Debug/
SGI/Default/
SGI/src/Default/
SGI/.cproject
SGI/.project
SGI/.settings/
SGI/src/.cproject
SGI/src/.project
SGI/src/.settings
SGI/bin/*
.metadata
*~
*.save
*.obj

!SGI/bin/.gitkeep
